h1 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 70px;
    padding-bottom: 3cm;
}


p {
    font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
    font-size: 15px;
    line-height: 25px;
}


.customjumbo {
	background-image: url('../img/sunrise.jpg');
}

.newnavbar {
	background-color: #FFFFFF;
}

.newbut {
	background-color: #FFFFFF;
}

.newer {
	background-color: #FFFFFF;
}

.newcontainer {
	min-width: 781px;
	max-width: 992px;
	margin-right: 50px;
	margin-left: 50px;
}